.testing8 {
    height: 100%;
    margin: 0;
    background: #000;
    overflow: hidden;
    position: relative;
}


.neerail-scroll-animations-example {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.neerail-scroll-animations-example > .neerail-scrollsection {
    display: flex;
    flex-wrap: wrap;
    padding: 10vh 10vh 10vh 10vmax;
    min-width: 550vh;
}

.neerail-scroll-animations-example > .neerail-scrollsection > .neerail-item {
    display: inline-block;
    position: relative;
    margin: 0 -30vh 0 3vh;
}

.neerail-scroll-animations-example > .neerail-scrollsection > .neerail-item::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.neerail-scroll-animations-example > .neerail-scrollsection > .neerail-item.neerail-big {
    height: 80vh;
    width: 60vh;
}

.neerail-scroll-animations-example > .neerail-scrollsection > .neerail-item.neerail-big.neerail-horizontal {
    height: 60vh;
    width: 80vh;
}

.neerail-scroll-animations-example > .neerail-scrollsection > .neerail-item.neerail-normal {
    height: 60vh;
    width: 45vh;
    z-index: 1;
}

.neerail-scroll-animations-example > .neerail-scrollsection > .neerail-item.neerail-normal.neerail-horizontal {
    height: 45vh;
    width: 60vh;
}

.neerail-scroll-animations-example > .neerail-scrollsection > .neerail-item.neerail-small {
    height: 40vh;
    width: 30vh;
    z-index: 2;
}

.neerail-scroll-animations-example > .neerail-scrollsection > .neerail-item.neerail-small.neerail-horizontal {
    height: 30vh;
    width: 40vh;
}

.neerail-scroll-animations-example > .neerail-scrollsection > .neerail-item > .neerail-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(1);
    opacity: 0;
    pointer-events: none;
    transition: filter 0.3s ease, opacity 1s ease, transform 1s ease;
}

.neerail-scroll-animations-example > .neerail-scrollsection > .neerail-item > .neerail-image.neerail-active {
    opacity: 0.8;
    pointer-events: auto;
    transform: scale(1);
}

.neerail-scroll-animations-example > .neerail-scrollsection > .neerail-item > .neerail-image.neerail-clicked {
    transform: scale(5);
    opacity: 0;
}

.neerail-fake-ui {
    position: fixed;
    font-size: 0;
}

.neerail-fake-ui > .neerail-logo {
    position: fixed;
    top: 2vh;
    left: 2vh;
    height: 3vh;
    width: 2.5vh;
    border: solid 1vh #999;
}

.neerail-fake-ui > .neerail-nav {
    position: fixed;
    top: 2vh;
    right: 2vh;
}

.neerail-fake-ui > .neerail-nav > .neerail-item {
    background: #999;
    display: inline-block;
    height: 2vh;
    width: 10vh;
    margin-left: 2vh;
}

.neerail-fake-ui > .neerail-footer {
    position: fixed;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    height: 2vh;
    width: 40vh;
    background: #999;
}
